a {
  color: #000;
  text-decoration: none;
}

.Corn-Hub {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: pink;
  gap: 1rem;
}

.navbar {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
}

.title {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title span {
  padding: 0.25rem;
  background-color: #ff9508;
}

.video-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.video-container {
  width: 18rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.video-card {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
}

.video-img img {
  width: 100%;
  height: auto;
}

.video-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  background: #333;
  border-radius: 0.25rem;
  box-sizing: border-box; /* Ensures padding is included in the container's width */
}

.video-title {
  font-size: 0.9rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-duration {
  font-size: 0.8rem;
  color: #ccc;
}
